body {
  height: 100%;
  background-image: url('https://st2.depositphotos.com/4601361/7151/i/450/depositphotos_71515053-stock-photo-background-blurred-lines-techno-soft.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.phoneBookContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  margin: 0 auto;
}

.phoneBook,
.contacts {
  width: 100%;
}

.contacts {
  height: 430px;
  overflow: auto;
}

h1,
h2 {
  font-size: 24px;
  margin: 0;
  padding-left: 70px;
  padding-bottom: 10px;
  text-align: left;
}
